

@{
    ViewBag.Title = "Pizzaria";
}

<div class="container">
    <div class="jumbotron">
        <h2>Administração</h2>
        <p>Quadro de avisos.</p>
    </div>
    <p>- Cadastre as categoria acessando o menu de navegação.</p>
    <p>- Cadastre os produtos acessando o menu de navegação.</p>
</div>
